{% extends 'layout.html' %}
{% load static %}
{% block title %}
    User Login
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

    <h1>User Login</h1>
    <form class="form-with-validation" action="/users/login/" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
        <button class="form-submit">Submit</button>
    </form>
    <a href="{% url 'users:register' %}">
        <span role="img" aria-label="User Registration" title="User Registration"> do you whant to registre</span>
    </a>
    <p>'               ' </p>
    <p>'               ' </p>
    <p>'               ' </p>
    <a href="{% url 'users:password_reset' %}"><i>Forgot Password?</i></a>
{% endblock %}